{% extends "base.html" %} {% block content %}
<h2>About CD and Github Workflow</h2>
<h2>implementing yml file</h2>
<p>
  First test of the yml file was not a succes I accidentally made a
  requirement.txt from the global dependancies. This is not required. It also
  included wincpy wich could not be installed. After deleting wincpy from the
  requirements the test passed. Including the added greenlight.py and
  test_greenlight.py.
</p>
<p>
  This python test file was presented as an example by Github it includes a lint
  test wich check the code syntax on code-line-length and blank lines. It also
  does a pytest. In this case on a simple python add function written in
  greenlight.py
</p>
<h2>problems encountered</h2>
<p>
  When use run and when use script in yml file. Ik kwam dit tegen toen ik bezig
  was met .sh files te maken. in een tutorial werd er run gebruikt voor
  verschillende command line activiteiten terwijl ik daar script voor gebruikte.
  Run werkte ook voor een 'echo' bijvoorbeeld maar de test ging fout toen ik de
  server ging benaderen via command line argumenten. Het lijkt me dat Bash CL
  dus iets anders nodig heeft. Het lijkt me niet dat script werkt onder een van
  de steps. Ik moet dat verder uitzoeken.
</p>
<p>
  Ben wel geinteresseerd in 'multiple jobs' ik heb een voorbeeld gezien. Dit
  zijn dus verschillende çontainers' die parallel kunnen lopen. Wat kun je daar
  nog meer mee. Kijken wat ik daar nog meer over kan vinden. Kunnen ze ook
  serieel lopen met een check/ goedkeuring tussen tijds of een soort
  if-statement. als job_x True dan job_d
</p>

{% endblock content %}
