<!DOCTYPE html>
{% extends "base.html" %} {% block content %}
<h2>About CD and Github Workflow</h2>
<h2>implementing yml file</h2>
<p>
  First test of the yml file was not a succes I accidentally made a
  requirement.txt from the global dependancies. This is not required. It also
  included wincpy wich could not be installed. After deleting wincpy from the
  requirements the test passed. Including the added greenlight.py and
  test_greenlight.py.
</p>
<p>
  This python test file was presented as an example by Github it includes a lint
  test wich check the code syntax on code-line-length and blank lines. It also
  does a pytest. In this case on a simple python add function written in
  greenlight.py
</p>
<h2>problems encountered</h2>
<p>
  When use run and when use script in yml file. Ik kwam dit tegen toen ik bezig
  was met .sh files te maken. in een tutorial werd er run gebruikt voor
  verschillende command line activiteiten terwijl ik daar script voor gebruikte.
  Run werkte ook voor een 'echo' bijvoorbeeld maar de test ging fout toen ik de
  server ging benaderen via command line argumenten. Het lijkt me dat Bash CL
  dus iets anders nodig heeft. Het lijkt me niet dat script werkt onder een van
  de steps. Ik moet dat verder uitzoeken. Test en daarna deploy moeten
  natuurlijk serieel lopen. Als de test niet goed verloopt moet de deploy ook
  niet doorgaan. Als dat twee verschillende jobs zijn dan moet dat serieel gaan.
  Eventueel moet daar een manuele goedkeuring tussen zitten. Op
  https://docs.github.com/en/actions/using-jobs/using-jobs-in-a-workflow zie ik
  dat door het 'needs' to te voegen ze niet parallel gaan lopen. Er kunnen dus
  verschillende routes worden gecreeerd met needs: [job2, job3] etc
</p>
<p>
  Ben wel geinteresseerd in 'multiple jobs' ik heb een voorbeeld gezien. Dit
  zijn dus verschillende çontainers' die parallel kunnen lopen. Wat kun je daar
  nog meer mee. Kijken wat ik daar nog meer over kan vinden. Kunnen ze ook
  serieel lopen met een check/ goedkeuring tussen tijds of een soort
  if-statement. als job_x True dan job_d
</p>
<p>
  Kijken of een deel van de oplossing ligt in .gitignore. Op dit moment heb ik
  alle onnodige files weggehaald van de server. *.py *.txt *.md __pycache__ en
  .github met daarin de workflow. In de .gitignore op de server toegevoegd. Wat
  dus alleen is blijven staan zijn de
  <shit>
    de main.py gaat nu ook niet geupdate worden door de *.py in .gitignore. Even
    aanpassen dus.</shit
  >
</p>
een 'workflow dispatch' toevoegen aan je workflow is handig. Dan kun je zonder
commit ook de workflow activeren. Scheelt weer steeds een commit.
<p>
  Wat ik me ook afvroeg is hoe je de actions van marketplace kunt checken. Dat
  kan door naar github.com te gaan met als path de resository bijvoorbeeld
  /actions/checkout. Daar kan je dan een check doen van wat er gebeurt. De repo
  wordt dus gecloned in je workflow
</p>
<p>
  Ik krijg een tweede proces nog steeds niet voor elkaar. De foutmelding is:
  every step must define a `uses` or `run` key. Zelfs letterlijk van een
  voorbeeld overnemen geeft dit probleem terwijl het in het voorbeeld wel werkt.
</p>

{% endblock content %}
