{% extends "base.html" %} {% block content %}
<h2>This are handy sites/ tutorials to use</h2>
<h3>https://www.youtube.com/watch?v=WDpxqopXd9U</h3>
<p>How to go from dev to prod using webpack (youtube)</p>
<h3>
  https://medium.com/swlh/how-to-deploy-your-application-to-digital-ocean-using-github-actions-and-save-up-on-ci-cd-costs-74b7315facc2
</h3>
<p>
  How to Deploy Your Application to Digital Ocean Using GitHub Actions And Save
  up on CI/CD Services Costs (article)
</p>
<h3>do not know anymore</h3>

{% endblock content %}
